<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="default">
            <directory prefix="test-" suffix=".php">./tests/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory prefix="integration-" suffix=".php">./tests/</directory>
        </testsuite>
        <testsuite name="full">
            <directory prefix="test-" suffix=".php">./tests/</directory>
            <directory prefix="integration-" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
